.profile{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  &__dashboard{
    height: auto;
    border: 2px;
    background: #fff;
    // margin-bottom: 24px;
    &__top{
      &__list{
        list-style: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 20px 0px 0px;
        li{
          padding: 10px 0px 0px;
        }
      }
      img{
        width: 150px;
        height: 150px;
      }
    }
    &__center{
      &__list{
        list-style: none;
        &__item{
          span{
            font-weight: bold;
          }
        }
        li{
          padding: 10px 0px 0px;
        }
      }
      &__bottom{
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
  &__skills__list{
    list-style: none;
    height: auto;
    border: 2px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.profile-info{
  height: auto;
  border: 2px;
  background: #fff;
  &__tabs{
    .nav{
      .active{
        border:0;
        border-radius: 0;
        border-bottom: solid 2px blue;
      }
    }
    .nav-link{
      border: 0;
    }
  }
}
