<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle">

            </div>
          </div>
          <div class="col-8 v-align">            
            <h5>64,570</h5>
            <p>Today's visits</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle">

            </div>
          </div>
          <div class="col-8">
            <h5>64,570</h5>
            <p>Today's visits</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle">

            </div>
          </div>
          <div class="col-8">
            <h5>64,570</h5>
            <p>Today's visits</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-3">
      <div class="boxes">
        <div class="row">
          <div class="col-4">
            <div class="circle">

            </div>
          </div>
          <div class="col-8">
            <h5>64,570</h5>
            <p>Today's visits</p>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
