<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-4 profile">
      <div class="row">
        <div class="col-12">
          <div class="profile__dashboard boxes">
            <div class="profile__dashboard__top">
              <ul class="profile__dashboard__top__list v-align">
                <li><img class="boxes__image navbar__user_image" src="assets/images/obama.jpg" alt="user picture"></li>
                <li><h3>Barack Obama</h3></li>
                <li><h6>@senpai</h6></li>
                <li>
                  <button type="button" class="btn btn-success">Follow</button>
                  <button type="button" class="btn btn-danger">Message</button>
                </li>
              </ul>
            </div>
            <div class="profile__dashboard__center">
              <ul class="profile__dashboard__center__list">
                <li class="profile__dashboard__center__list__item"><span>Full Name: </span>Barack Obama</li>
                <li class="profile__dashboard__center__list__item"><span>Mobile: </span>+1(123) 123 1234</li>
                <li class="profile__dashboard__center__list__item"><span>Email: </span>barac.obama@stat.gov.com</li>
                <li class="profile__dashboard__center__list__item"><span>Location: </span>USA</li>
              </ul>
            </div>
            <div class="profile__dashboard__bottom">
              <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#fb"></use>
              </svg>
              <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use>
              </svg>
              <svg class="svg-icon">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#skype"></use>
              </svg>
            </div>
          </div>
        </div>
        <div class="col-12">
          <ul class="profile__skills__list boxes">
            <li class="profile__skills__list__title"><h5>SKILLS</h5></li>
            <li class="profile__skills__list__item">
              <h6>HTML5</h6>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 80%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="profile__skills__list__item">
              <h6>PHP</h6>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
            <li class="profile__skills__list__item">
              <h6>WORDPRESS</h6>
              <div class="progress">
                <div class="progress-bar bg-info" role="progressbar" style="width: 72%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-xl-8">
      <div class="profile-info boxes">
        <nav class="profile-info__tabs">
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-aboutMe-tab" data-toggle="tab" href="#nav-aboutMe" role="tab" aria-controls="nav-aboutMe" aria-selected="true">ABOUT ME</a>
            <a class="nav-item nav-link" id="nav-gallery-tab" data-toggle="tab" href="#nav-gallery" role="tab" aria-controls="nav-gallery" aria-selected="false">GALLERY</a>
            <a class="nav-item nav-link" id="nav-settings-tab" data-toggle="tab" href="#nav-settings" role="tab" aria-controls="nav-settings" aria-selected="false">SETTINGS</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-aboutMe" role="tabpanel" aria-labelledby="nav-aboutMe-tab">
            Barack Hussein Obama II (born August 4, 1961) is an American attorney and politician who served as the 44th president of the United States from 2009 to 2017. A member of the Democratic Party, he was the first African American to be elected to the presidency. He previously served as a U.S. senator from Illinois from 2005 to 2008.
Obama was born in Honolulu, Hawaii. After graduating from Columbia University in 1983, he worked as a community organizer in Chicago. In 1988, he enrolled in Harvard Law School, where he was the first black president of the Harvard Law Review. After graduating, he became a civil rights attorney and an academic, teaching constitutional law at the University of Chicago Law School from 1992 to 2004. He represented the 13th district for three terms in the Illinois Senate from 1997 to 2004, when he ran for the U.S. Senate. He received national attention in 2004 with his March primary win, his well-received July Democratic National Convention keynote address, and his landslide November election to the Senate. In 2008, he was nominated for president a year after his campaign began and after a close primary campaign against Hillary Clinton. He was elected over Republican John McCain and was inaugurated on January 20, 2009. Nine months later, he was named the 2009 Nobel Peace Prize laureate.
          </div>
          <div class="tab-pane fade" id="nav-gallery" role="tabpanel" aria-labelledby="nav-gallery-tab">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
          <div class="tab-pane fade" id="nav-settings" role="tabpanel" aria-labelledby="nav-settings-tab">
            <form>
              <div class="form-group">
                <label for="formGroupExampleInput">Full Name</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Barack Obama">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Email</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="barac.obama@usa.gov.com">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Username</label>
                <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Senpai">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Password</label>
                <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="6 - 15 Characters">
              </div>
              <div class="form-group">
                <label for="formGroupExampleInput2">Re-Password</label>
                <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="6 - 15 Characters">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
