.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    .nav-bar{
        height: $nav-height;
        background: $default-bg;
        color: #fff;
        &--left{
            float: left;
            position: relative;
            width: $nav-left-width;
        }
        &--right{
            // margin-left: $nav-left-width;
            // min-height: $nav-height;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }
        &__lists{
            list-style: none;
            line-height: $nav-height;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            &--left{
              // float:left;
            }
            &--right{
                // float: right;
            }
            &__link{
              padding: 0 20px;
            }
        }
    }
    .svg-icon{
      height: 50%;
      fill: white;
    }
}
