.topbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    .nav-bar{
        height: $nav-height;
        background: $default-bg;
        color: #fff;
        &--left{
            float: left;
            position: relative;
            width: $nav-left-width;
        }
        &--right{
            margin-left: $nav-left-width;
            min-height: $nav-height;
        }
        &__lists{
            list-style: none;
            &--left{

            }
            &--right{
                float: right;
            }
            &__link{

            }
        }
    }
}
