.side-menu{
  position: fixed;
  top: $nav-height;
  height: 100%;
  background: #fff;
  width: $nav-left-width;
  -webkit-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
  overflow: scroll;
  padding: 20px 0 80px;
  &__lists{
    &active{
      border-color: $default-bg;
      background-color: $light-grey;
      a{
        color: red;
        background:$light-grey;
      }
    }
    &__list{
      position: relative;
      padding: 12px 20px;
      border-left: 3px solid #fff;
      &:hover{
        a{
          color: $default-bg;
          text-decoration: none;
        }
      }
      a{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: black;
        svg{
          fill:$mid-grey;
        }
      }
        &:after{
          @include arrow($rotate: -45deg);
        }
        // &active{
        //   border-color: $default-bg;
        //   background-color: $light-grey;
        //   a{
        //     // color: red;
        //     // background:$light-grey;
        //   }
        // }
      &__title{
        padding: 12px 20px;
        font-size: 12px;
      }
    }
    list-style: none;
  }
}
