.sidenav-right{
  width: $nav-right-width;
  position: fixed;
  right: -250px;
  &--open{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 80px;
    width: $nav-right-width;
    background: white;
    right: 0px;
    height: 100%;
    position: fixed;
    z-index: 999;
    overflow: scroll;
    -webkit-transition: $transition;
    transition: $transition;
  }
  .sidenav-right__tabs{
    .nav-pills{
      background-color: #fff;
      color: 0;
      .nav-link.active{
        background-color: #fff;
        color: black;
        border: 0;
        border-radius: 0;
        border-bottom: solid 2px blue;
      }
    }
  }
  &__tab-activity{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    border-left: 4px solid #222;
    &__content{
      padding-left: 20px;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 6px;
        left: -10px;
        width: 16px;
        height: 16px;
        background: #fff;
        border: 2px solid #222;
        border-radius: 50%;
      }

      p{

      }
      h5{

      }
      h6{

      }

    }


  }
  &__tab-settings{

  }
}
